html {
  min-height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background: rgb(99,17,25);
  background: linear-gradient(0deg, rgba(99,17,25,1) 0%, rgba(220,53,69,1) 50%, rgba(240,170,177,1) 100%);
}

body {
  background-color: inherit;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
}

.app {
  text-align: center; 
}

.card {
  padding: 2rem;
}

#credits, a {
  color: white;
}